.Titulo {
    margin-top: 50px;
  }
  
  .Parrafo {
    margin-top: 30px;
  }
  
  .boton-about {
    margin-top: 50px;
  }
  
  
  .img-fluid {
    max-width: 100%; 
    height: auto; 
  }
  
  @media (min-width: 992px) {
    .col-lg-6 {
        width: 100%; 
    }

}
 
  @media (max-width: 768px) {
    .col-lg-6 {
      text-align: center;
    }
  
    .col-12 {
      margin-bottom: 20px;
    }
  
    .Titulo, .Parrafo {
      margin-left: 0;
      margin-right: 0;
      text-align: center;
    }
  }
  