.destacado {
    margin-bottom: 2%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #252323;
}

.slide-destacado{
    object-fit: cover;
    height: 50vh;
}

.card-destacado{
    height: 100%;
}

@media (max-width: 768px) {
    .slide-destacado {
        height: auto;
    }
}