.destacado {
    margin-bottom: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #252323;
}

.slide-destacado{
    height: 50vh;
}

.card-destacado{
    height: 100%;
}