.contactform {
    background: rgba(255, 255, 255, 0.5); 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
    border-radius: 10px; 
}

.botonenviar {
    background: rgba(108,117,125);
    border-color: rgb(108,117,125);
}
.botonenviar:hover {
    background: rgba(88, 97, 105, 1); 
    border-color: rgb(88, 97, 105); 
}