.tarjeta {
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
  
}

.card-body {
    height: 500px;
    flex :1;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    transition: 2s all ease;
}

.card-img-top {
    height: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
 .parrafo {
    position: absolute;
    bottom: 0;
    width: 100%;
    color:azure;
    background-color: black;
    padding: 20px;
    text-align: center;
    transform: translate(-100%);
    

}

.tarjeta :hover {
    flex:4;

}
<<<<<<< HEAD
=======

>>>>>>> fbdf0a65f7038d3a4b324a2d0f006ea652a9fa3c
