
.card {

    margin: 20px;

}


p {
    color:azure;

}



.Titulo {
    color: azure;
}

.nosotros-card:hover {
    transform: scale(1.1);
    z-index: 2;

}

<<<<<<< HEAD
}
 @media (max-width :800px) {
 .card-body {
    width : 80%;
 }

 }
=======
>>>>>>> 50fad78cbfb7debbf2ec56b18f834e4cec2dc25f
