.swiper-button-next,
.swiper-button-prev {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 50%;
}

.gameCard img {
  height: 180px;
  object-fit: cover;
  width: 100%;
}